<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple2Sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Apple2Sharp.Properties.Settings>
            <setting name="Disk1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Disk2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Slot0Card" serializeAs="String">
                <value>LanguageCard</value>
            </setting>
            <setting name="Slot1Card" serializeAs="String">
                <value>EmptySlot</value>
            </setting>
            <setting name="Slot2Card" serializeAs="String">
                <value>EmptySlot</value>
            </setting>
            <setting name="Slot3Card" serializeAs="String">
                <value>Cols80Card</value>
            </setting>
            <setting name="Slot4Card" serializeAs="String">
                <value>EmptySlot</value>
            </setting>
            <setting name="Slot5Card" serializeAs="String">
                <value>EmptySlot</value>
            </setting>
            <setting name="Slot6Card" serializeAs="String">
                <value>DiskIICard</value>
            </setting>
            <setting name="Slot7Card" serializeAs="String">
                <value>EmptySlot</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Adjust1mhz" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ScanLines" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Idealized" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Joystick" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="AppleIIe" serializeAs="String">
                <value>false</value>
            </setting>
        </Apple2Sharp.Properties.Settings>
    </userSettings>
</configuration>